<!DOCTYPE html>
<html>
<head>
	<title>Game Navigation</title>
	<link rel="stylesheet" href="static/layout.css">
</head>
<body>

	{% extends "layout.html" %}
 
    {% block body %}
    
	
	<!-- Layered display of games of different catagorys -->
	<h1>Horror Games</h1>
	<div class="flex-container">
		
		<!-- Clickable images -->
		<div class="flex-item">
			<a href="game">
				<img src="static/placeholder.png">
				<p>Game 1</p>
			</a>
		</div>
		<div class="flex-item">
			<a href="game">
				<img src="static/placeholder.png">
				<p>Game 2</p>
			</a>
		</div>
		<div class="flex-item">
			<a href="game">
				<img src="static/placeholder.png">
				<p>Game 3</p>
			</a>
		</div>
		<div class="flex-item">
			<a href="game">
				<img src="static/placeholder.png">
				<p>Game 4</p>
			</a>
		</div>
		<div class="flex-item">
			<a href="game">
				<img src="static/placeholder.png" >
				<p>Game 5</p>
			</a>
		</div>
		<div class="flex-item">
			<a href="game">
				<img src="static/placeholder.png">
				<p>Game 6</p>
			</a>
		</div>
	
	</div>
	
	{% endblock %}
</body>

	<script>
		const menuIcon = document.querySelector('.menu-icon');
		const navbar = document.querySelector('.navbar');
	
		menuIcon.addEventListener('click', () => {
			navbar.classList.toggle('active');
		});
	</script>

</html>
    
