<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/layout.css">
        <link rel="icon" href="./favicon.ico" type="image/x-icon">
    </head>
    <body>
        {% extends "layout.html" %}
 
        {% block body %}
        
          <!-- center column for dashboard -->
            <div class="center_dashboard">
                <div class="card">
                    <h1>Upload</h1>
                    <p>Upload a project</p>
                    <form action="/zip" method="post" enctype="multipart/form-data">
                        <label for="file">Select a .zip file:</label>
                        <input type="file" id="file" name="file" accept=".zip">
                        <br><br>
                        <input type="submit" value="Upload">
                      </form>
                    </div>
                <div class="card">
                <h2>My Jams</h2>
                <p>Here you can see your jams and your profile.</p>
                </div>
                <div class="card">
                <h2>My Profile</h2>
                <p>Here you can see your jams and your profile.</p>
                </div>
            </div>
                

                <script>
                    const menuIcon = document.querySelector('.menu-icon');
                    const navbar = document.querySelector('.navbar');
                    menuIcon.addEventListener('click', () => {
                        navbar.classList.toggle('active');
                    });
                </script>
        {% endblock %}
    </body>
</html>